.productsHeading{
    margin: 2vmax auto;
    width: 15vmax;
    border-bottom: 1px solid rgba(0,0,0,0.171);
    text-align: center;
    color: rgba(0,0,0,0.785);
    padding: 2vmax;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 6vmax;
}

.paginationBox{
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 0%;

}

.page-item{
    background-color:white;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.171);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
}

.page-item >item:first-child{
    border-radius: 5px 0 0 5px;
}
.page-item >item:last-child{
border-radius: 0 5px 5px 0;
}

.page-link{
    text-decoration: none;
    font: 300 1.2vmax "Roboto";
    color: rgb(80,80,80);
    transition: all 0.3s;
}
.page-item:hover{
    background-color: rgb(230, 230, 230);
}
.page-item:hover.page-link{
    /* color: black */
}
.pageItemActive{
    background-color: tomato;
}
.pageLInkActive{
    color: white;
}

.filterBox{
    width: 10vmax;
    position: absolute;
    top:10vmax;
    left: 2vmax;
}

.categoryBox{
    padding: 0%;
}
.category-link{
    list-style: none;
    color: rgba(0,0,0,0.61);
    font: 400 1vmax "Roboto";
    margin: .5vmax;
    cursor: pointer;
    transition: all 0.5s;
}
.category-link:hover{
    color: tomato;
}

@media screen and (max-width: 600px){
    .filterBox{
        width: 20vmax;
        position: static;
        margin: auto;
    }
    .page-link{
        font: 400 2vmax "Roboto";
    }
    
}